<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- PLUGIN ĐIỀU KHIỂN DI CHUYỂN VI SAI (DIFF DRIVE) -->
    <gazebo>
        <plugin name="diff_drive" filename="libgazebo_ros_diff_drive.so">
            <left_joint>left_wheel_joint</left_joint>
            <right_joint>right_wheel_joint</right_joint>
            
            <!-- Kích thước cơ khí từ file CAD của Tiến -->
            <wheel_separation>0.565</wheel_separation> <!-- Khoảng cách 2 bánh chính (56.5cm) -->
            <wheel_diameter>0.089</wheel_diameter>     <!-- Đường kính bánh xe (8.9cm) -->
            
            <!-- Giới hạn lực động cơ -->
            <max_wheel_torque>20</max_wheel_torque>
            <max_wheel_acceleration>1.0</max_wheel_acceleration>
            
            <!-- Cấu hình đầu ra cho ROS 2 -->
            <odometry_frame>odom</odometry_frame>
            <robot_base_frame>base_footprint</robot_base_frame>
            <publish_odom>true</publish_odom>
            <publish_odom_tf>true</publish_odom_tf>
            <publish_wheel_tf>true</publish_wheel_tf>
        </plugin>
    </gazebo>

</robot>